
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3>Vendors</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Vendor</td>
        <td>Rating</td>
        <td>Location</td>
        <td>Phone #</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr id="eweb"></tr>
      {{#each model as |vendor|}}

        {{#link-to 's.vendors.vendor' vendor.id tagName='tr'}}

          <td><h5>{{vendor.name}}</h5></td>
          <td><h5>{{vendor.rating}}</h5></td>
          <td><h5>{{vendor.city}} ,{{vendor.state}}</h5></td>
          <td><h5>{{vendor.phone}}</h5></td>
          <td><h5>{{vendor.description}}</h5></td>
        {{/link-to}}

      {{/each}}
    </tbody>
  </table>
</div>
